<div class="svg-wrap">
  <svg viewBox="0 0 1363 236" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M0 4.82947H73.4147C123.324 4.82947 157.133 32.1989 157.133 72.1262C157.133 111.731 123.646 140.711 73.4147 140.711H33.8094V230.225H0V4.82947ZM122.68 72.1262C122.68 45.7227 100.784 33.1649 71.8047 33.1649H33.8094V111.087H71.8047C100.784 111.087 122.68 98.5297 122.68 72.1262Z"
      fill="#1C1C1C" />
    <path
      d="M172.267 117.528C172.267 47.9771 224.43 0 285.608 0C347.109 0 399.272 47.9771 399.272 117.528C399.272 187.078 347.109 235.056 285.608 235.056C224.43 235.378 172.267 187.4 172.267 117.528ZM363.853 117.528C363.853 64.0768 331.976 29.6234 285.608 29.6234C239.563 29.6234 207.686 64.0768 207.686 117.528C207.686 170.979 239.563 205.432 285.608 205.432C331.976 205.754 363.853 171.301 363.853 117.528Z"
      fill="#1C1C1C" />
    <path d="M463.027 35.4189H401.526V4.82947H558.337V35.4189H496.837V230.225H463.027V35.4189Z" fill="#1C1C1C" />
    <path d="M586.029 4.82947H619.838V198.67H715.792V230.225H586.029V4.82947Z" fill="#1C1C1C" />
    <path
      d="M733.824 148.44V5.15259H767.634V143.61C767.634 182.249 785.343 204.789 818.187 204.789C851.352 204.789 868.74 182.249 868.74 143.61V5.15259H902.549V148.44C902.549 202.535 868.096 235.378 818.187 235.378C768.278 235.378 733.824 202.535 733.824 148.44Z"
      fill="#1C1C1C" />
    <path
      d="M936.036 117.528C936.036 46.3671 985.623 0 1045.19 0C1106.05 0 1136.32 40.8932 1142.43 72.7706H1107.98C1101.86 54.095 1085.12 30.2674 1046.16 30.2674C1003.98 30.2674 971.455 62.4668 971.455 117.528C971.455 172.589 1004.3 204.788 1046.16 204.788C1085.12 204.788 1101.86 180.961 1107.98 162.285H1142.43C1136.32 194.162 1106.05 235.056 1045.19 235.056C982.081 235.378 936.036 189.654 936.036 117.528Z"
      fill="#1C1C1C" />
    <path
      d="M1175.6 4.82947H1209.41V116.883L1318.89 4.82947H1361.71L1272.2 96.2757L1363 230.225H1321.46L1248.37 119.137L1209.41 159.065V230.225H1175.6V4.82947Z"
      fill="#1C1C1C" />
  </svg>
</div>