{% schema %}
{
  "name": "Header",
  "class": "section-header sticky top-0 z-20",
  "tag": "header",
  "settings": []
}
{% endschema %}

{% if settings.show_promo_bar %}
  {% render 'promo-bar' %}
{% endif %}

<header class="py-2 bg-yellow pattern-yellow">
  <div class="relative flex items-center text-black site-container-fluid">
    {% render 'header-menu' %}
    {% render 'header-drawer' %}

    <div class="flex items-center self-center ml-auto space-x-3">
      <button
        class="relative p-2 text-black type"
        x-cloak
        x-data
        @click="$store.global.isMinicartVisible = true"
      >
        Cart (<span data-ajax-cart-bind="item_count" class="text-black">
          {{- cart.item_count -}}</span
        >)
      </button>
    </div>
  </div>

  <style>
    .section-header .header-logo {
      color: white;
      text-decoration: none;
      font-size: 32px;
      text-transform: uppercase;
    }

    #mobile-nav-trigger {
      display: none;
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: none;
      background: transparent;
      border: 0;
    }

    #mobile-nav-trigger svg {
      fill: white;
      width: 26px;
      height: auto;
    }

    @media (max-width: 768px) {
      .section-header .header-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .icon {
        height: 20px;
        width: 20px;
      }

      /* Hide checkbox by default */
        #mobile-menu-toggle {
          display: none;
        }

        /* Hamburger icon visible when menu is closed */
        #mobile-menu-toggle:not(:checked) ~ label.icon-open {
          display: flex;
        }

        /* Close icon visible when menu is open */
        #mobile-menu-toggle:checked ~ label.icon-close {
          display: flex;
        }

        /* Hide icons based on state */
        #mobile-menu-toggle:not(:checked) ~ label.icon-close,
        #mobile-menu-toggle:checked ~ label.icon-open {
          display: none;
        }

        /* Show menu when checkbox is checked */
        #mobile-menu-toggle:checked ~ #mobile-menu {
          display: block;
          visibility: visible;
          opacity: 1;
          transition: top .3s ease-in-out, opacity 0.3s ease-in-out;
          top: 92px;
        }
        
        
        /* Drawer menu styling */
        #mobile-menu {
          z-index: 30;
          visibility: hidden;
          top: 92px;
          opacity: 0;
          transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
        }
        
        .scrolled #mobile-menu,
        .scrolled #mobile-menu-toggle:checked ~ #mobile-menu {
          top: 52px;
          transition: top .3s ease-in-out, opacity 0.3s ease-in-out;
        }
        
        
        #mobile-menu > div {
          width: 75%; /* 3/4 of the screen */
          height: 100%;
          padding: 20px;
          left: -120px;
          transition: left .5s ease-in-out;
        }
        /* Drawer animation */
        .drawer {
          left: -100%;
          transition: left 0.3s ease-in-out;
        }

        #mobile-menu-toggle:checked ~ #mobile-menu .drawer {
          left: 0;
        }

        #mobile-menu ul {
          list-style: none;
          padding: 0;
        }

        #mobile-menu ul li {
          margin-bottom: 1rem;
        }
      
    }

    .cart-icon-wrapper {
      text-decoration: none;
      color: white;
      margin-left: auto;
      position: relative;
    }

    .cart-icon-wrapper span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -35%);
      z-index: 5;
      font-size: 12px;
      font-weight: bold;
    }

    .bi-bag {
      display: none;
    }

    .js-ajax-cart-not-empty .header .bi-bag-fill {
      display: block;
    }

    .js-ajax-cart-empty .header .bi-bag-empty {
      display: block;
    }

    .js-ajax-cart-empty .header .bi-bag-fill {
      display: none;
    }
  </style>
</header>
