{% schema %}
{
  "name": "Main Collection Section",
  "class": "section-main-collection",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "Add a block image"
    }
  ]
}
{% endschema %}

<section class="product-grid">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2">
    {%- paginate collection.products by 12 -%}
      {% assign product_counter = 0 %}
      {% for product in collection.products %}
        {% assign product_counter = product_counter | plus: 1 %}
        <div class="col-span-1">
          {%- render 'product-grid-illo', product: product %}
        </div>

        {% if product_counter == 3 and section.settings.block_image %}
          <div class="col-span-1">
            <div class="relative h-full overflow-hidden">
              <img
                src="{{ section.settings.block_image | image_url }}"
                alt="Additional Block Image"
                class="h-full w-full object-cover"
              >
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% render 'pagination-navigation', paginate: paginate %}
    {% endpaginate %}
  </div>
</section>
