{% schema %}
{
  "name": "Product Grid",
  "class": "section-product-grid product-grid",
  "tag": "section",
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Selected Products",
      "limit": 12
    }
  ],
  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}
{% endschema %}

<div class="product-grid">
  <div class="grid grid-cols-2">
    {% for product in section.settings.product_list %}
      <div class="col-span-2 lg:col-span-1">
        {%- render 'product-grid-illo', product: product %}
      </div>
    {% endfor %}
  </div>
  <style></style>
</div>
